.container {
    max-width: 30rem;
    margin: 0 auto;
}

body {
    font-family: 'Source Sans Pro' monospace;
    font-weight: 700;
    color: #5a5a5a;
    border-top: 6px solid navy;
    margin: 0;
    padding: 0 1rem;
}

h1 {
    width: ;
    height: ;
    font-size: 2.25rem;
    line-height: 1.125;
}

h2 {
    text-align: center;
    padding: 0 auto;
    margin: 1.5rem 1.5rem;

}

h3 {
    text-align: center;
    padding: 0 auto;
    margin: 1.5rem 1.5rem;

}

p {
    line-height: 1.5;
    margin: 1.5rem 1.5rem;
    padding: 0 auto;
}

.ebook {
    text-align: center;
}